.header {
    width:  100%;
    position:  fixed;
    left: 0px;
    top: 0px;
    z-index: 99999;
    background-color: rgba(0, 0, 0, 0.08);
    padding: 25px 0px;
}
.header-logo {
    vertical-align: bottom;
    width: 30%;
}
.header-logo a img{
    height: 50px
}
.header-logo {
    vertical-align:  bottom;
    width: 34%;
    display: inline-block;
}

.header-menu {
    width: 66%;
    text-align:  right;
    vertical-align:  bottom;
    display:  inline-block;
}

button.header-btn {
    display:  none;
}
.header-menu > ul{
    padding: 0px;
}
.header-menu > ul > li > a {
    font-size: 16px;
    text-transform:  uppercase;
    color: #fff;
    cursor: pointer;
    transition: 0.3s;
}
.header-menu > ul > li > a:hover {
    color:#e75b4e;
}
.header-menu ul li {
    display:  inline-block;
    margin-left: 40px;
}
.hp-hello {
    background: url(../img/img/background.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
}
.hello-cont {
       text-align: right;
       line-height: 30px;
       position: absolute;
       bottom: 0px;
       margin-bottom: 250px;
       right: 0px;
       margin-right: 150px;
}
.hello-cont p{
    font-size: 16px;
    color: #fff;
}
.hello-btn {
    border: 0px;
    min-width: 88px;
    padding: 8px 16px;
    text-transform: uppercase;
    background-color: #e75b4e;
    color: #fff;
    box-shadow: 0px 0px 15px 3px rgba(0, 0, 0, 0.15);
    cursor: pointer;
}
.hello-btn:hover {
    background-color: #d13627;
}
.hello-next{
    border: 0px;
    margin-top: 60px;
    background: url(../img/icon/arrows.png);
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
    height: 24px;
    width: 20%;
    left: 40%;
    bottom: 50px;
    background-size: 24px;
    position: absolute;
}
.about-info{
    display: inline-block;
    width: 67%;
    padding: 20px;
    vertical-align: middle;

}
.about-info>h2 {
    font-size: 26px;
    padding-left: 0px;
    font-weight: 500;
}
.about-info > p {
    font-size: 14px;
    color: #000;
    text-align: left;
    margin-bottom: 25px;
}
.about-cont {
    padding: 120px 0px 140px;
}
.about-foto{
    width: 33%;
    text-align: center;
    display: inline-block;
    vertical-align: middle;
}
.hp-job{
    width: 100%;
}
.job-title, .price-title, .feedback-title, .contact-title{
    width: 400px;
    display: block;
    padding: 10px 16px;
    text-align: center;
    font-size: 24px;
    font-weight: 400;
    letter-spacing: 0.8px;
    color: #fff;
    text-transform: uppercase;
    background-color: #e75b4e;
    margin-left: auto;
    margin-right: auto;
}
.job-foto{
    max-width: 1440px;
    margin: 0px auto;
}
.foto-item{
    width: 100%;
    display: inline-block;
    vertical-align: top;
}
.foto-item.one{
    width: 29%
}
.foto-item.two{
    width: 29%
}
.foto-item.three{
    width: 42%
}
.foto-item a {
    display: block;
    height: 510px;
    overflow: hidden;
    position: relative;
}
.foto-item a:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 100%;
    display: block;
    background: url(../img/icon/zoom-in.png) no-repeat center rgba(255, 0, 0, 0.59);
    background-size: 50px 50px;
    transition: 0.5s;
}
.foto-item a:hover:after {
    top: 0px; 
}
.foto-item.one a {
    height: 255px;
}
.foto-item a img{
    min-height: 100%;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    transition: 0.3s;
    object-fit: cover;
    min-width: 100%;
}
.hp-price {
    padding-top: 45px;
}
.price-box{
    border: 2px solid #dde3d7;
    margin-top: 55px;
}
.box-item{
    display: inline-block;
    width: 25%;
    vertical-align: top;
    text-align: center;
    color: #000;
    padding: 31px 46px 18px;
}
.box-item h3, .box-item h4{
    line-height: 50px;
    margin: 0px;
}
.box-item h3{
    font-size: 20px;
     font-weight: 600;
    border-bottom: 1px solid #dde3d7;
}
.box-item h4{
    font-size: 18px;
    font-weight: 500;
    border-bottom: 1px solid #dde3d7;
}
.box-item-text{
    border-bottom: 1px solid #dde3d7;
    min-height: 320px;
    padding: 10px 0px;
}
.box-item-text p{
    line-height: 30px;
    font-size: 16px;
    margin: 10px 0px;
}
button.price-zakaz {
    font-size: 16px;
    color: #fff;
    padding: 10px 16px;
    text-transform: uppercase;
    background-color: #444444;
    border: 0px;
    margin: 25px 0px;
}
.box-item {
    height: 565px;
    position: relative;
    display: inline-block;
}
.box-item:hover:after {
    content: "";
    position: absolute;
    width: 309px;
    height: 575px;
    left: -5px;
    top: -5px;
    display: inline-block;
    transition: 0.5s;
    border: 5px solid #dde3d7;
}
.box-item:hover {
    background-color:#e75b4e;
    color:#fff;
}
.hp-feedback{
    padding: 100px 0px 0px 0px;
}
.feedback-cont{
    background-color: #ece6e6;
    margin: 0px auto;
    padding-bottom: 135px;
}
.feedback-item{
    display: inline-block;
    width: 50%;
    text-align: center;
    padding-top: 40px;
}
.feedback-foto{
    width: 30%;
    text-align: center;
    display: inline-block;
    vertical-align: middle;
}
.feedback-foto img{
    display: block;
    height: 120px;
    width: 120px;
    margin: 0px auto;
}
.feedback-text {
    width: 70%;
    text-align: left;
    color: #000;
    display: inline-block;
    vertical-align: middle;
    line-height: 25px;
}
.feedback-text h4 {
    font-size: 18px;
    font-weight: 500;
    margin: 0px;
}
.feedback-text p {
    font-size: 14px;
}
.contact{
    background-color: #e75b4e;
    text-align: center;
}
.contact-cont{
    padding: 50px 0px 0px 0px;
}
.contact-cos{
    margin-top: 40px; 
}
.contact-cos ul{
    padding: 0px;
    margin: 0px;
}
.contact-cos ul li{
    display: inline-block;
    vertical-align: middle;
    border-radius: 50%;
    border: 4px solid #ece6e6;
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 67px;
    margin: 0px 6px;
}
.contact-cos > ul > li > a {
    cursor: pointer;
}
.contact-cos > ul > li > a > img {
    width: 24px;
    height: 24px;
}
.hp-contact{
    margin-top: -43px;
}
.contact-info{
    width: 50%;
    text-align: left;
    color: #fff;
   display: inline-block;
   vertical-align: middle; 
}
.contact-info h3 {
    font-size: 24px;
    font-weight: 600;
}
.contact-info p {
    font-size: 18px;
    font-weight: 400;
}
div.contact-info > p:nth-child(4){
    margin-left: 39px;
}
.contact-form{
    width: 50%;
    text-align: left;
    display: inline-block;
    vertical-align: middle; 
}
.input, .button {
    display: inline-block;
    max-width: 400px;
    width: 100%;
    padding: 20px;
    border: 0px;
}
.input{
    text-align: left;
    color: #757575;
    background-color: #ece6e6;
    margin-bottom: 10px;
}
.button{
    text-align: center;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 500;
    background-color: #444444;
    color:#fff;
}
.button:hover{
    background-color: #685e5e;
    cursor: pointer;
}